@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-button {
    @apply my-auto
    rounded-md
    bg-blue-600
    p-2
    text-white
    shadow-xl
    transition
    hover:translate-y-1
    hover:shadow-none;
  }

  .cell-input {
    @apply break-all
    outline-none
    hover:cursor-pointer;
  }

  .input-form {
    @apply input
    input-bordered
    mb-10
    pb-2
    pt-4;
  }

  .form-button {
    @apply mx-10
    rounded-md
    border
    border-blue-500
    p-2
    shadow-md
    transition
    hover:shadow-none;
  }

  .form-span {
    @apply absolute
    rounded-lg
    bg-red-100
    text-xs;
  }
}
